<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.MemberMapper">

    <select id="getMemberList" resultType="Member">
        SELECT
            user_id AS id,
            user_email AS loginId,
            user_name AS name,
            user_role AS role,
            created_dt AS createdDt
        FROM auth_user
        WHERE use_yn = 'Y'
    </select>


    <select id="findUserByEmail" resultType="Member" parameterType="String">
        SELECT
            user_email AS id,
            user_role AS roleId,
            user_name AS name
        FROM auth_user
            AND a.user_email = #{email}
    </select>

</mapper>